.wrapper-card {
  margin: auto 40px 40px 40px;
  @media (max-width: 800px) {
    margin: auto 20px 20px 20px;
  }
  &__footer {
    padding-top: 15px;
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 13px;
    line-height: 1.231;
    color: $white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
    margin: 0;
    a {
      color: $blue;
      border-bottom: 1px dashed;
      cursor: pointer;
      transition: color 1s ease-in-out;
      &:hover {
        color: $pink-dark;
      }
      &:active .product-card {
        border-color: $pink-dark;
      }
    }

    &--disabled {
      color: $yellow;
    }
  }
}
.product-card {
  font-family: "Trebuchet MS";
  position: relative;
  background: $white url("../static/cat2.png") no-repeat 50% 182%;
  width: 320px;
  height: 480px;
  border: 4px solid $blue;
  border-radius: 13px;
  clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  cursor: pointer;
  margin: 0 auto;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    border-top: 42px solid $blue;
    border-right: 40px solid transparent;
  }
  &__content {
    margin: 0 44px;
    padding-top: 17px;
    .title {
      font-size: 48px;
      font-weight: bold;
      color: $black;
      margin-bottom: 5px;
      &-default {
        font-size: 16px;
        color: $gray;
        margin-bottom: 10px;
      }
    }
    .sub-title {
      font-size: 24px;
      font-weight: bold;
      color: $black;
      margin-bottom: 18px;
    }
    &__descr {
      font-size: 14px;
      color: $gray;
      white-space: pre-line;
    }
  }
  &__weight {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding-top: 12px;
    color: $white;
    background-color: $blue;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 42px;
    text-align: center;
    &__text {
      font-size: 21px;
    }
  }
  &:hover {
    border-color: $blue-light;
    .product-card__weight {
      background-color: $blue-light;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      border-top: 42px solid $blue-light;
      border-right: 40px solid transparent;
    }
  }
  &--active {
    border-color: $pink-dark;

    .product-card__weight {
      background-color: $pink-dark;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      border-top: 42px solid $pink-dark;
      border-right: 40px solid transparent;
    }
    &:hover {
      border-color: $pink;
      .product-card__weight {
        background-color: $pink;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        border-top: 42px solid $pink;
        border-right: 40px solid transparent;
      }
    }
  }
  .product-card__overlay {
    background-color: $disableColor;
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-radius: 9px;
  }
  &--disabled {
    border-color: $disableColor;
    color: $disableColor;
    cursor: default;
    &:active,
    &:focus,
    &:hover {
      color: $disableColor;
      border-color: $disableColor;
      .product-card__weight {
        background-color: $disableColor;
      }

      &:before {
        border-top: 42px solid $disableColor;
        border-right: 40px solid transparent;
      }
    }

    &:before {
      border-top: 42px solid $disableColor;
      border-right: 40px solid transparent;
    }

    .product-card__weight {
      background-color: $disableColor;
    }

    .product-card__content {
      .title {
        color: $disableColor;
      }
      .sub-title {
        color: $disableColor;
      }
      .title-default {
        color: $disableColor;
      }
      .product-card__content__descr {
        color: $disableColor;
      }
    }
  }
}
