@font-face {
    font-family: "Exo2.0";
    src: local("Exo2.0"), url("./static/fonts/Exo2.0-Thin.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./static/fonts/Exo2.0-Thin.woff2") format("woff2"),
        url("./static/fonts/Exo2.0-Thin.ttf") format("truetype"),
        url("./static/fonts/Exo2.0-Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Trebuchet MS";
    src: local("Trebuchet MS"), url("./static/fonts/Trebuchet\ MS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$white: #ffffff;
$black: #000000;
$gray: #666666;
$blue:#1698d9;
$blue-light:#2ea8e6;
$pink-dark:#d91667;
$pink:#e52e7a;
$yellow:#ffff66;
$disableColor: #b3b3b3;