@import "settings";
@import "./components/card";
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: Trebuchet MS, serif;
  color: $white;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0) 50%, #000000 100%) ,url("./static/Pattern.png");
// overflow: hidden;
  
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  height: 680px;


  

  &__title {
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    margin-bottom: 25px;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    text-align: center ;
  }
}
//--------------------------------
a{
    color: $blue;
   
}
.unchk{
  color: $pink;
}

